<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unbind.mapper.ActionItemMapper">

	<insert id="insert"
		parameterType="com.example.unbind.domain.ActionItem">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT action_item_seq.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO action_item (id, entry_id, content, is_completed)
		VALUES (#{id}, #{entryId}, #{content}, 0)
	</insert>

</mapper>