<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unbind.mapper.UserMapper">
	<insert id="insert" parameterType="com.example.unbind.domain.User">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT nextval('user_seq')
		</selectKey>
		INSERT INTO users (id, email, password, name, created_at)
		VALUES (#{id}, #{email}, #{password}, #{name}, CURRENT_TIMESTAMP)
	</insert>
	<select id="findByEmail" parameterType="String" resultType="com.example.unbind.domain.User">
		SELECT id, email, password, name, created_at, is_pro, name_changed_at
		FROM users
		WHERE email = #{email}
	</select>

	<update id="updateIsPro">
		UPDATE users SET is_pro = #{isPro} WHERE id = #{id}
	</update>

	<update id="updateName">
		UPDATE users SET name = #{name}, name_changed_at = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>
</mapper>